<template>
  <q-layout view="hhh LpR fFf">
    <q-header elevated class="bg-blue-grey-8 text-white">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
        />
        <router-link to="/">
        <q-toolbar-title class="absolute-center text-white">
          Weekend Mountaneers App
          <q-avatar>
            <img src="https://cdn.pixabay.com/photo/2014/04/03/00/35/walking-308782_1280.png">
          </q-avatar>
        </q-toolbar-title>
        </router-link>
                <q-space />
        <q-btn class="text-blue-4"
          flat
          dense
          @click.stop="openProfilePage"
          label="Moj profil"
          icon="account_box"
          v-show="$auth.currentUser"
        />
        <q-btn
          flat
          dense
          @click.stop="logout"
          icon="logout"
          v-show="$auth.currentUser"
        >
          <q-tooltip>
            Odjavi se
          </q-tooltip>
        </q-btn>
        <q-btn
          flat
          dense
          @click.stop="openLoginPage"
          label="Prijava"
          v-show="!$auth.currentUser && this.$router.currentRoute.path !== '/login'"
        />
        <q-btn
          flat
          dense
          @click.stop="openRegisterPage"
          label="Registracija"
          v-show="!$auth.currentUser && this.$router.currentRoute.path === '/login'"
        />
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <q-item
          clickable
          exact
          to="/"
        >
          <q-item-section avatar>
            <q-icon name="home"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Početna stranica</q-item-label>
          </q-item-section>
        </q-item>
       <q-separator/>

        <q-item
          clickable
          exact
          to="/trips"
        >
          <q-item-section avatar>
            <q-icon name="add_photo_alternate" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Pregled izleta</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          clickable
          exact
          to="/users"
          v-show="$auth.currentUser && currentUserLevel !== 1"
        >
          <q-item-section avatar>
            <q-icon name="supervisor_account" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Pregled korisnika</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          exact
          to="/profile"
          v-show="$auth.currentUser"
        >
          <q-item-section avatar>
            <q-icon name="account_circle" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Moj Profil</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          exact
          to="/contact"
        >
          <q-item-section avatar>
            <q-icon name="alternate_email" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Kontakt</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item
          clickable
          exact
          @click="openLoginPage"
          v-show="!$auth.currentUser"
        >
          <q-item-section avatar>
            <q-icon name="login" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Prijava</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          exact
          @click="openRegisterPage"
          v-show="!$auth.currentUser"
        >
          <q-item-section avatar>
            <q-icon name="person_add_alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Registracija</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          exact
          @click="logout"
          v-show="$auth.currentUser"
        >
          <q-item-section avatar>
            <q-icon name="logout" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Odjava</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container  class="background">
      <router-view />
    </q-page-container>
        <q-footer reveal elevated class="footer text-grey">
      <q-toolbar>
        &copy; Copyright 2021, Linardić E. - Ilijević M.
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  data () {
    return {
      isMounted: false,
      leftDrawerOpen: false,
      currentUserLevel: null
    }
  },
  mounted () {
    const collectionRef = this.$db.collection('users')
    if (this.$auth.currentUser) {
      collectionRef.doc(this.$auth.currentUser.uid).get().then(doc => {
        this.currentUserLevel = doc.data().security_level
        console.log(this.currentUserLevel)
      })
    }
  },
  methods: {
    logout () {
      this.$auth.signOut()
        .then(() => {
          this.$securityLevel = null
          this.$router.push('/login')
        })
    },
    openProfilePage () {
      this.$router.push('/profile')
    },
    openLoginPage () {
      this.$router.push('/login')
    },
    openRegisterPage () {
      this.$router.push('/register')
    }
  }
}
</script>

<style lang="sass">
.background
  background: url(../statics/background.png)
  background-repeat: no-repeat
  background-size: auto
  background-position: center bottom
.footer
  background-color: rgba(0,0,0,0.4)

</style>
