<template>
  <q-page class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 1000px"
    >
    <q-card flat bordered class="row" style="background: rgba(255, 255, 255, 0.3);">
      <q-card-section class="col">

          <q-img
              style="width: 70px"
              :ratio="1"
              class="rounded-borders"
              src="https://cdn.pixabay.com/photo/2016/11/30/18/14/chat-1873536_960_720.png"
          />
          <p>
        <br/>
        Ime vodića: Ivo Ivić
        <br/>
        Broj telefona: 09876598765
        <br/>
        Radno vrijeme: 9-17
        <br/>
        Adresa: Riječka 23, 51000 Rijeka
          </p>
      </q-card-section>
      <q-card-section class="col">
        <div class="text-h6">
          Kontakt obrazac
        </div>
        <q-form
          @submit.prevent="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="emailParams.email"
            label="Email *"
            lazy-rules
            :rules="[ val => emailPattern.test(val) || 'Email nije važeći']"
          />

          <q-input
            filled
            type="textarea"
            v-model="emailParams.message"
            label="Vaša poruka *"
            lazy-rules
            :rules="[val => val !== null && val !== '' || 'Ne može biti prazno']"
          />
          <div>
            <q-btn label="Pošalji" type="submit" color="primary"/>
            <q-btn label="Briši" type="reset" color="primary" flat class="q-ml-sm" />
          </div>
    </q-form>
      </q-card-section>
    </q-card>
    </div>
  </q-page>
</template>

<script>
import emailjs from 'emailjs-com'
export default {
  data () {
    return {
      emailParams: {
        email: '',
        message: ''
      },
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/

    }
  },
  mounted () {
    if (this.$auth.currentUser) {
      this.emailParams.email = this.$auth.currentUser.email
    }
  },
  methods: {
    onSubmit () {
      try {
        emailjs.send('service_mrjwxqm', 'template_ixmwiva', this.emailParams, 'user_LJCb8HbNaUxsjoDzQsQ9B')
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'done',
          message: 'Zahvaljujemo na poruci.'
        })
      } catch (error) {
        console.log({ error })
      }
    },

    onReset () {
      this.email = ''
      this.message = ''
    }
  }
}
</script>
