<template>
  <q-page class="q-pa-lg row justify-center" v-if="isMounted">
    <div
      class="col"
      style="max-width: 1000px"
    >
    <q-carousel
      arrows
      animated
      :autoplay="autoplay"
      navigation
      infinite
      v-model="slide"
      height="650px"
      @mouseenter="autoplay = false"
      @mouseleave="autoplay = true"
    >
      <q-carousel-slide
        v-for="(trip, key) in trips"
        :name="key"
        :key="key"
        :img-src="trip.image"
      >

        <div class="absolute-top">
          <div class="custom-new">
          NOVO!
          </div>
          <div class="detail-button absolute-right">
          <q-btn v-bind:to="`/trip/`+ trip.id"
            icon="keyboard_arrow_right"
            label="Detalji"
            stack glossy color= "primary"
          />
          </div>
        </div>
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">
            {{ trip.name }}
          </div>
          <div class="text-subtitle1">
            {{ trip.date }}
          </div>

        </div>

      </q-carousel-slide>
    </q-carousel>
    </div>
  </q-page>
</template>
<script>
import { date } from 'quasar'
export default {
  name: 'Index',
  data () {
    return {
      isMounted: false,
      trips: null,
      slide: 0,
      autoplay: true
    }
  },
  mounted: async function () {
    const timestamp = Date.now()
    const formattedString = date.formatDate(timestamp, 'YYYY/MM/DD')
    const collectionRef = this.$db.collection('trips')
    await collectionRef.orderBy('date', 'desc').endAt(formattedString).limit(4).get('name', 'date', 'image')
      .then(quarySnapshot => {
        this.trips = quarySnapshot.docs.map(doc => { return { id: doc.id, ...doc.data() } })
        this.isMounted = true
      })
  }
}

</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 55px
  color: white
  background-color: rgba(0, 0, 0, .3),
.custom-new
  text-align: left
  font-size: 27px
  color: red
  padding: 10px
  background-color: rgba(0, 0, 0, .3)
  width: 100px
.detail-button
  padding: 5px
</style>
