<template>
  <div>
    <gmap-map
      :center="center"
      :zoom="12"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :position="marker"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: 'GoogleMap',
  props: ['lat', 'lng'],
  mounted () {
    console.log(this.lng)
  },
  data () {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense,
      center: { lat: this.lat, lng: this.lng },
      marker: { lat: this.lat, lng: this.lng }
    }
  }
}
</script>
