<template>
    <q-form>
        <q-card>
          <q-card-section>
            <div v-if="user.id" class="row text-h6">Podaci
              <q-space/>
              <q-btn flat round dense icon="close" v-close-popup/>
            </div>
            <div v-else class="text-h6">Registracija</div>
          </q-card-section>
          <q-card-section>
            <div class="q-gutter-md">
              <q-input
                filled
                type="email"
                v-model="user.email"
                label="Email *"
                lazy-rules
                :rules="[ val => emailPattern.test(val) || 'Unos email adrese je obavezan']"
                @input="emailChanged = true"
              />
              <q-input
                filled
                type="password"
                v-model="user.password"
                v-if="!user.id"
                label="Lozinka *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Unos lozinke je obavezan']"
              />
                <q-input
                filled
                type="name"
                v-model="user.name"
                label="Ime *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Unos imena je obavezan']"
              />
                <q-input
                filled
                type="surname"
                v-model="user.surname"
                label="Prezime *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Unos prezimena je obavezan']"
              />
                <q-input
                filled
                type="phone"
                v-model="user.phone"
                label="Telefon *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Unos broja telefona je obavezan']"
              />
            </div>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn
              label="Potvrdi"
              color="primary"
              @click="submitUser"
              />
          </q-card-actions>
        </q-card>
      </q-form>
</template>

<script>
export default {
  props: ['user'],
  data () {
    return {
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      emailChanged: false
    }
  },
  methods: {
    submitUser () {
      if (!this.user.id) {
        this.$auth.createUserWithEmailAndPassword(this.user.email, this.user.password)
          .then(response => {
            this.$db.doc(`users/${response.user.uid}`).set({
              name: this.user.name,
              surname: this.user.surname,
              email: this.user.email,
              phone: this.user.phone,
              security_level: this.user.security_level
            })
            this.$router.push('/')
          })
          .catch(error => {
            console.log(error)
            this.$q.notify({
              type: 'negative',
              message: 'Registracija neuspjesna.'
            })
          })
      } else {
        if (this.emailChanged) {
          console.log('email changed')
          const user = this.$auth.currentUser
          user.updateEmail(this.user.email).then(() => {
            this.emailChanged = false
          }).catch((error) => {
            console.error(error)
          })
        }
        const documentRef = this.$db.collection('users').doc(this.user.id)
        documentRef.update({
          name: this.user.name,
          surname: this.user.surname,
          email: this.user.email,
          phone: this.user.phone
        })
        this.$emit('close')
      }
    }
  }
}
</script>
