<template>
  <q-page class="q-pa-lg row justify-center" v-if="isMounted">
    <div
      class="col"
      style="max-width: 1000px"
    >
    <q-card flat bordered style="background: rgba(255, 255, 255, 0.3);">
      <q-card-section>
        <div>
          <q-card-actions align="right">
            <q-btn
              outline
              color="primary"
              label="Izmijeni podatke"
              icon="mode_edit"
              @click="card = true"
            />
          </q-card-actions>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="col-6">
          <q-markup-table>
            <thead class="bg-blue-grey-7">
              <tr>
                <th colspan="5">
                  <div class="row no-wrap items-center">
                    <q-img
                      style="width: 70px"
                      class="rounded-borders"
                      src="https://cdn.pixabay.com/photo/2012/04/05/01/00/hiking-boot-25489_1280.png"
                    />
                    <div class="text-h4 q-ml-md text-white">
                      Vaši podaci
                    </div>
                  </div>
              </th>
              </tr>
            </thead>
            <tbody class="bg-grey-5">
              <tr>
                <td>Ime</td>
                <td>{{user.name}}</td>
              </tr>
              <tr>
                <td>Prezime</td>
                <td>{{user.surname}}</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Telefon</td>
                <td>{{user.phone}}</td>
              </tr>
            </tbody>
         </q-markup-table>
        </div>
      </q-card-section>
      <q-separator />
      <q-dialog v-model="card">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section>
          <user-form :user=user @close="card=false"></user-form>
          </q-card-section>
          <q-card-section>
          <div class="q-gutter-md">
            <q-card-actions align="center">
              <q-btn
                outline
                color="primary"
                label="Izmijeni lozinku"
                icon="mode_edit"
                @click="card1 = true, card = false"
              />
            </q-card-actions>
          </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="card1" @hide="newPassword=null, confirmPassword=null">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section>
            <div class="row text-h6">
              Promjena lozinke
              <q-space/>
            <q-btn flat round dense icon="close" v-close-popup/>
            </div>
          </q-card-section>
          <q-form>
            <q-card-section>
              <div class="q-gutter-md">
                <q-input
                  filled
                  type="password"
                  label="Nova lozinka *"
                  lazy-rules
                  v-model="newPassword"
                  ref="newPassword"
                  :rules="[ val => val && val.length > 0 || 'Unos lozinke je obavezan']"
                />
              <q-input
                  filled
                  type="password"
                  label="Potvrdite lozinku *"
                  lazy-rules
                  v-model="confirmPassword"
                  ref="confirmPassword"
                  :rules="[ val => val && val.length > 0 || 'Potvrda lozinke je obavezna',
                            val => val == this.$refs.newPassword.value || 'Lozinke nisu jednake']"
                />
              </div>
            </q-card-section>
            <div class="q-gutter-md">
              <q-card-actions align="center">
                <q-btn
                  label="Potvrdi"
                  color="primary"
                  @click="changePassword"
                />
              </q-card-actions>
            </div>
          </q-form>
        </q-card>
      </q-dialog>
    <q-card-actions>
      <q-btn
        label="PRIJAVLJENI IZLETI"
        color="bg-blue-grey-8"
        outline
        dense
        :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        @click="expanded = !expanded"
      />
    </q-card-actions>
    <q-slide-transition flex v-show="expanded">
      <q-card-section>
        <q-table
          title="Izleti"
          :data="tripsList"
          :columns="columns"
          row-key="id"
          :separator="separator"
        >
          <template v-slot:body-cell="props">
            <q-td :props="props">
              <div v-if="props.col.name==='actions'">
                <q-btn
                  flat
                  dense
                  round
                  color="red"
                  icon="cancel"
                  @click="deleteTrip(props.row)"
                >
                  <q-tooltip>
                    Odjavi se
                  </q-tooltip>
                </q-btn>
              </div>
              <div v-else>
                {{props.row[props.col.field]}}
              </div>
            </q-td>
          </template>
        </q-table>
      </q-card-section>
    </q-slide-transition>
  </q-card>
    </div>
</q-page>
</template>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      isMounted: false,
      user: null,
      expanded: false,
      tripsList: [],
      trip: null,
      card: false,
      card1: false,
      separator: 'vertical',
      columns: [
        {
          name: 'name',
          label: 'Naziv',
          align: 'left',
          field: 'name',
          sortable: true
        },
        {
          name: 'date',
          label: 'Datum',
          align: 'left',
          field: 'date',
          sortable: true
        },
        {
          name: 'time',
          label: 'Vrijeme',
          align: 'left',
          field: 'time',
          sortable: false
        },
        {
          name: 'level',
          label: 'Razina',
          align: 'left',
          field: 'level',
          sortable: false
        },
        {
          name: 'actions',
          label: 'Odjava',
          align: 'center',
          field: null,
          sortable: false,
          headerStyle: 'width: 50px'
        }
      ],
      newPassword: null,
      confirmPassword: null
    }
  },
  components: {
    'user-form': require('components/UserForm.vue').default
  },
  mounted: async function () {
    const userRef = this.$db.collection('users').doc(this.$auth.currentUser.uid)
    const userTripsRef = userRef.collection('trips')
    const tripsRef = this.$db.collection('trips')
    await userRef.get()
      .then((res) => {
        this.user = res.data()
        this.user.id = this.$auth.currentUser.uid
        userTripsRef.get()
          .then(quarySnapshot => {
            quarySnapshot.forEach((doc) => {
              tripsRef.doc(doc.data().trip_id).get().then((result) => {
                this.trip = result.data()
                this.trip.id = result.id
                this.tripsList.push(this.trip)
              })
            })
          })
      })
    this.isMounted = true
  },
  methods: {
    deleteTrip (row) {
      const userTripsRef = this.$db.collection('users').doc(this.$auth.currentUser.uid).collection('trips')
      const tripUsersRef = this.$db.collection('trips').doc(row.id).collection('users')
      this.$q.dialog({
        title: 'Potvrda',
        message: 'Želite li se sigruno odjaviti?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        userTripsRef.where('trip_id', '==', row.id).get().then((docs) => {
          docs.forEach((doc) => {
            doc.ref.delete()
          })
          tripUsersRef.where('user_id', '==', this.user.id).get().then((docs) => {
            docs.forEach((doc) => {
              doc.ref.delete()
            })
          })
          const index = this.tripsList.findIndex(trip => trip.id === row.id)
          if (index >= 0) {
            this.tripsList.splice(index, 1)
          }
        })
      })
    },
    changePassword () {
      this.$refs.newPassword.validate()
      this.$refs.confirmPassword.validate()
      if (!this.$refs.newPassword.hasError && !this.$refs.confirmPassword.hasError) {
        const user = this.$auth.currentUser
        user.updatePassword(this.newPassword).then(() => {
          this.card1 = false
        }).catch((error) => {
          console.error(error)
          this.$q.notify({
            type: 'warning',
            message: error.message
          })
        })
      }
    }
  }
}
</script>
