<template>
  <q-page class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 1000px"
    >
      <q-table class="my-table"
          title="Korisnici"
          :data="users"
          :columns="columns"
          row-key="id"
          :separator="separator"
          v-if="isMounted"
        >
          <template v-slot:top-right>
            <q-img
              style="width: 70px"
              :ratio="1"
              class="rounded-borders"
              src="https://cdn.pixabay.com/photo/2020/09/19/23/25/boy-5585721_1280.png"
            />
          </template>
        <template v-slot:body-cell="props">
            <q-td :props="props">
              <div v-if="props.col.name==='security_level'">
                <div class="row" v-if="updateSelected && props.row.id===selectedRow">
                  <div class="col">
                    <q-select
                      outlined
                      dense
                      :options="options"
                      v-model="props.row.security_level"
                    />
                  </div>
                  <div class="col">
                    <q-btn
                      flat
                      dense
                      round
                      color="primary"
                      icon="check"
                      @click="updateSecurityLevel(props.row.security_level)"
                    >
                      <q-tooltip>Spremi</q-tooltip>
                    </q-btn>
                    <q-btn
                      flat
                      dense
                      round
                      color="grey"
                      icon="close"
                      @click="props.row.security_level = cancelUpdate()"
                    >
                      <q-tooltip>Odustani</q-tooltip>
                    </q-btn>
                  </div>
                </div>
                <div v-if="columns[4].field === null && props.row.id!==selectedRow">{{ props.row.security_level }}</div>
              </div>
              <div v-if="props.col.name==='actions'">
                <q-btn
                  flat
                  dense
                  round
                  color="primary"
                  external-label
                  icon="security"
                  @click="changeSecurityLevel(props.row)"
                >
                <q-tooltip>
                  Promijeni sigurnosnu razinu
                </q-tooltip>
                </q-btn>
                <q-btn
                  flat
                  dense
                  round
                  color="red"
                  icon="delete"
                  @click="deleteUser(props.row)"
                >
                <q-tooltip>
                  Izbriši
                </q-tooltip>
                </q-btn>
              </div>
              <div v-else>
                {{props.row[props.col.field]}}
              </div>
            </q-td>
          </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      isMounted: false,
      separator: 'vertical',
      users: [],
      columns: [
        {
          name: 'surname',
          label: 'Prezime',
          align: 'left',
          field: 'surname',
          sortable: true
        },
        {
          name: 'name',
          label: 'Ime',
          align: 'left',
          field: 'name',
          sortable: false
        },
        {
          name: 'email',
          label: 'Email adresa',
          align: 'left',
          field: 'email',
          sortable: false
        },
        {
          name: 'phone',
          label: 'Broj mobitela',
          align: 'left',
          field: 'phone',
          sortable: false
        },
        {
          name: 'security_level',
          label: 'Sigurnosna razina',
          align: 'left',
          field: 'security_level',
          sortable: true,
          style: 'width: 5px'
        },
        {
          name: 'actions',
          label: 'Akcije',
          align: 'center',
          field: null,
          sortable: false,
          headerStyle: 'width: 50px'
        }
      ],
      options: [1, 2, 3],
      oldValue: null,
      updateSelected: false,
      selectedRow: null,
      currentUserLevel: null
    }
  },
  mounted: async function () {
    const collectionRef = this.$db.collection('users')
    await collectionRef.get()
      .then(quarySnapshot => {
        this.users = quarySnapshot.docs.map(doc => { return { id: doc.id, ...doc.data() } })
        collectionRef.doc(this.$auth.currentUser.uid).get().then(doc => {
          this.currentUserLevel = doc.data().security_level
          if (this.currentUserLevel === 1) {
            this.$router.go(-1)
          }
          this.isMounted = true
        })
      })
  },
  methods: {
    deleteUser (row) {
      if (this.currentUserLevel === 3) {
        this.$q.dialog({
          title: 'Potvrda',
          message: 'Sigurno želite izbrisati korisnika?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.$db.collection('users').doc(row.id).delete().then(() => {
            const index = this.users.findIndex(user => user.id === row.id)
            if (index >= 0) {
              this.users.splice(index, 1)
            }
          })
        })
      } else {
        this.$q.notify({
          type: 'negative',
          message: 'Ova akcija nije autorizirana.'
        })
      }
    },
    changeSecurityLevel (row) {
      if (this.currentUserLevel === 3) {
        this.columns[4].field = null
        this.oldValue = row.security_level
        this.selectedRow = row.id
        this.updateSelected = true
      } else {
        this.$q.notify({
          type: 'negative',
          message: 'Ova akcija nije autorizirana.'
        })
      }
    },
    updateSecurityLevel (securityLevel) {
      const userRef = this.$db.collection('users').doc(this.selectedRow)
      userRef.update({ security_level: securityLevel }).then(quarySnapshot => {
        this.selectedRow = null
        this.updateSelected = false
        this.columns[4].field = 'security_level'
      })
    },
    cancelUpdate () {
      const securityLevel = this.oldValue
      this.updateSelected = false
      this.selectedRow = null
      this.columns[4].field = 'security_level'
      return securityLevel
    }
  }
}
</script>

<style lang="sass">
.my-table
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    background-color: #9ecee8
</style>
