<template>
<q-page>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 400px"
    >
      <user-form :user=userModel></user-form>
    </div>
  </div>
</q-page>
</template>
<script>
export default {
  name: 'RegisterIndex',
  data () {
    return {
      userModel: {
        email: null,
        password: null,
        name: null,
        surname: null,
        phone: null,
        security_level: 1
      }
    }
  },
  mounted: function () {
    if (this.$auth.currentUser) {
      this.$router.push('/')
    }
  },
  components: {
    'user-form': require('components/UserForm.vue').default
  }
}
</script>
