<template>
  <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row">
          <div class="text-h6">Unos izleta</div>
          <q-space/>
          <q-btn flat round dense icon="close" v-close-popup/>
        </q-card-section>
        <form @submit.prevent="submitTrip">
          <q-card-section>
          <div class="q-gutter-md">
            <q-input
              outlined
              autofocus
              v-model="tripToSubmit.name"
              label="Naziv *"
              ref="name"
              :rules="[ val => val && val.length > 0 || 'Unos naziva je obavezan']"
              :name.sync="tripToSubmit.name"
            />
            <div class="row">
              <div class="col">
                <q-input
                  outlined
                  v-model="tripToSubmit.date"
                  label="Datum *"
                  ref="date"
                  :rules="[ val => val && val.length > 0 || 'Odabir datuma je obavezan']"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy>
                        <q-date v-model="tripToSubmit.date">
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col">
                <q-input
                  outlined
                  v-model="tripToSubmit.time"
                  label="Vrijeme *"
                  ref="time"
                  :rules="[ val => val && val.length > 0 || 'Odabir vremena je obavezan']"
                >
                  <template v-slot:append>
                    <q-icon name="access_time" class="cursor-pointer">
                      <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-time v-model="tripToSubmit.time">
                        <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-time>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <q-input
              outlined
              type="textarea"
              v-model="tripToSubmit.description"
              label="Opis *"
              ref="description"
              :rules="[ val => val && val.length > 0 || 'Unos opisa je obavezan']"
            />
            <div class="row">
              <div class="col">
                <q-input
                  outlined
                  v-model.number="tripToSubmit.geoPoint.lat"
                  ref="lat"
                  label="Latituda *"
                  type="number"
                  step=".000000000000001"
                  :rules="[ val => val && val.length !== 0  || 'Unos latitude je obavezan']"
                />
              </div>
              <div class="col">
                <q-input
                  outlined
                  v-model.number="tripToSubmit.geoPoint.lng"
                  ref="lng"
                  label="Longituda *"
                  type="number"
                  step=".000000000000001"
                  :rules="[ val => val && val.length !== 0  || 'Unos longitude je obavezan']"
                />
              </div>
            </div>
            <q-select
              outlined
              v-model="tripToSubmit.level"
              :options="options"
              label="Razina *"
              ref="level"
              :rules="[ val => val && val.length > 0 || 'Odabir razine je obavezan']"
            >
              <template v-slot:append>
                <q-icon name="trending_up" />
              </template>
            </q-select>
            <q-file
              v-show="!tripToSubmit.image || selectedImage"
              outlined
              v-model="selectedImage"
              label="Odaberi fotografiju"
              ref="image"
              style="max-width: 330px;"
              accept="image/*"
              @input="fileSelected = true"
            >
              <template v-slot:append>
                <q-icon name="attach_file" />
              </template>
            </q-file>
            <div v-show="tripToSubmit.image && !selectedImage">
              <q-img
                :src="tripToSubmit.image"
                :ratio="16/9"
              />
              <q-btn dense label="Promjeni fotografiju" @click="changeImage"/>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="Spremi" color="primary" type="submit"/>
        </q-card-actions>
        </form>

      </q-card>
</template>

<script>
export default {
  props: ['trip', 'trips'],
  data () {
    return {
      tripToSubmit: {},
      options: [
        'Lagano', 'Srednje teško', 'Zahtjevno'
      ],
      selectedImage: null
    }
  },
  beforeMount () {
    this.tripToSubmit = Object.assign({}, this.trip)
  },
  methods: {
    submitTrip () {
      this.$refs.name.validate()
      this.$refs.date.validate()
      this.$refs.time.validate()
      this.$refs.lat.validate()
      this.$refs.lng.validate()
      this.$refs.description.validate()
      this.$refs.level.validate()
      if (!this.$refs.name.hasError && !this.$refs.date.hasError && !this.$refs.time.hasError && !this.$refs.lat.hasError && !this.$refs.lng.hasError && !this.$refs.description.hasError && !this.$refs.level.hasError) {
        if (this.selectedImage) {
          this.uploadImage()
        } else {
          this.saveTrip()
        }
      }
    },
    uploadImage () {
      const storageRef = this.$storage.ref()
      const imageRef = storageRef.child(`${this.tripToSubmit.name}-${this.tripToSubmit.date}`)
      imageRef.put(this.selectedImage).then((snapshot) => {
        snapshot.ref.getDownloadURL().then((downloadURL) => {
          this.tripToSubmit.image = downloadURL
          this.saveTrip()
          this.imageSelected = null
        })
      })
    },
    saveTrip () {
      const collectionRef = this.$db.collection('trips')
      if (!this.tripToSubmit.id) {
        collectionRef.add(this.tripToSubmit).then(doc => {
          this.tripToSubmit.id = doc.id
          this.trips.push(this.tripToSubmit)
        })
      } else {
        const documentRef = collectionRef.doc(this.tripToSubmit.id)
        documentRef.update({
          name: this.tripToSubmit.name,
          date: this.tripToSubmit.date,
          time: this.tripToSubmit.time,
          geoPoint: {
            lat: this.tripToSubmit.geoPoint.lat,
            lng: this.tripToSubmit.geoPoint.lng
          },
          description: this.tripToSubmit.description,
          image: this.tripToSubmit.image,
          level: this.tripToSubmit.level
        })
        const tripForUpdate = this.trips.find(trip => trip.id === this.tripToSubmit.id)
        if (tripForUpdate) {
          for (const attributeName in this.tripToSubmit) {
            tripForUpdate[attributeName] = JSON.parse(JSON.stringify(this.tripToSubmit[attributeName]))
          }
        }
      }
      this.$emit('close')
    },
    changeImage () {
      this.$refs.image.$el.click()
    }
  }
}
</script>
