<template>
  <q-page class="q-pa-lg row justify-center">
  <div class="col" style="max-width: 1000px">
    <q-card v-if="isMounted" flat bordered class="my-card" style="background: rgba(255, 255, 255, 0.8);">
      <q-card-section>
        <div class="row">
         <q-card-actions class="col" align="left">
            <q-btn
              outline
              color="primary"
              label="Povratak"
              icon="keyboard_backspace"
              @click="$router.go(-1)"
            />
          </q-card-actions>
          <q-card-actions class="col" align="right">
            <q-btn
              outline
              color="primary"
              label="Prijavi se"
              icon="group_add"
              @click="signupForTrip"
            />
          </q-card-actions>
        </div>
      </q-card-section>
      <q-card-section  class="row">
    <div class="col-6">
        <div class="text-h5">
      {{ trip.name }}
        </div>
      <q-separator />
      <div class="text-subtitle1">
        <br />
       Datum - {{ trip.date }}
        <br />
        Vrijeme - {{ trip.time }}
        <br />
        Razina - {{ trip.level }}
        </div>
        <q-separator />
        <div class="text-body2">
            <br />
          <p v-if="trip.description.length > 1000 && !allText">Opis - {{ trip.description.substring(0,1000) }}...<span class="button" @click="allText = true" style="cursor: pointer; color: blue;">Prikaži više</span></p>
          <p v-else>Opis - {{ trip.description }}</p>
  <br />
        </div>

    </div>
      <div class="col-6 flex">
      <q-img :src="trip.image" class="img" />
      </div>

      </q-card-section>
              <q-separator />

      <q-card-section class="q-pt-none text-body1">
        <q-btn
          fab
          color="primary"
          icon="place"
          class="absolute"
          style="top: 0; right: 12px; transform: translateY(-50%)"
          @click="card = true"
        />
        <div
          class="text-grey text-caption absolute"
          style="top: 0; right: 72px"
        >
          <q-icon name="place" /> prikaži na mapi
        </div>

      </q-card-section>

      <q-card-actions>

        <q-btn
          label="VREMENSKA PROGNOZA"
          color="bg-blue-grey-8"
          outline
          :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
          @click="showForecast (trip.geoPoint.lat, trip.geoPoint.lng), expanded = !expanded"
        />
      </q-card-actions>
<div class="row">
      <q-slide-transition>
        <div v-show="expanded">
          <q-card-section v-if="weatherData">
            <q-markup-table :separator="separator" dense>
                <thead class="bg-blue-4">
                  <tr>
                    <th colspan="8">
                      <div class="row no-wrap items-center">
                        <q-img
                          style="width: 70px"
                          :ratio="1"
                          class="rounded-borders"
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuvN-uMfqvrJmQusnBlv8O6KHNesXFMW5dGg&usqp=CAU"
                        />

                        <div class="text-h5 q-ml-md text-white">7-dnevna prognoza</div>
                      </div>
                    </th>
                  </tr>
                  <tr class="text-left">
                    <th>Datum</th>
                    <th>{{ formatDate(currentDate) }}</th>
                    <th>{{ formatDate(currentDate1) }}</th>
                    <th>{{ formatDate(currentDate2) }}</th>
                    <th>{{ formatDate(currentDate3) }}</th>
                    <th>{{ formatDate(currentDate4) }}</th>
                    <th>{{ formatDate(currentDate5) }}</th>
                    <th>{{ formatDate(currentDate6) }}</th>
                  </tr>
                </thead>
                <tbody class="bg-grey-5">
                  <tr align="center">
                    <td>MIN °C</td>
                    <td>{{ Math.round(weatherData.daily[0].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[1].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[2].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[3].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[4].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[5].temp.min) }}</td>
                    <td>{{ Math.round(weatherData.daily[6].temp.min) }}</td>
                  </tr>
                  <tr align="center">
                    <td>MAX °C</td>
                    <td>{{ Math.round(weatherData.daily[0].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[1].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[2].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[3].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[4].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[5].temp.max) }}</td>
                    <td>{{ Math.round(weatherData.daily[6].temp.max) }}</td>
                  </tr>
                  <tr align="center">
                    <td>Prognoza</td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[0].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[1].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[2].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[3].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[4].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[5].weather[0].icon}.png`"></td>
                    <td><img :src="`http://openweathermap.org/img/wn/${weatherData.daily[6].weather[0].icon}.png`"></td>
                  </tr>
                </tbody>
            </q-markup-table>
          </q-card-section>
        </div>
      </q-slide-transition>
      </div>
    </q-card>
    <q-dialog v-model="card" v-if="trip">
      <q-card style="width: 700px; max-width: 80vw">
        <q-card-section>
            <div id="app">
    <google-map :lat="trip.geoPoint.lat" :lng="trip.geoPoint.lng"/>
  </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
  </q-page>
</template>

<script>
export default {
  name: 'Detail',
  data () {
    return {
      isMounted: false,
      apiUrl: 'https://api.openweathermap.org/data/2.5/onecall',
      apiKey: '4308d58c64e1dc112528a4d3ce1aab83',
      weatherData: null,
      trip: null,
      card: false,
      expanded: false,
      separator: 'vertical',
      currentDate: new Date(),
      currentDate1: new Date(new Date().setDate(new Date().getDate() + 1)),
      currentDate2: new Date(new Date().setDate(new Date().getDate() + 2)),
      currentDate3: new Date(new Date().setDate(new Date().getDate() + 3)),
      currentDate4: new Date(new Date().setDate(new Date().getDate() + 4)),
      currentDate5: new Date(new Date().setDate(new Date().getDate() + 5)),
      currentDate6: new Date(new Date().setDate(new Date().getDate() + 6)),
      format: 'YYYY/MM/DD',
      allText: false
    }
  },
  components: {
    GoogleMap: require('components/GoogleMap.vue').default
  },
  mounted: async function () {
    const collectionRef = this.$db.collection('trips')
    await collectionRef
      .doc(this.$route.params.trip_id)
      .get()
      .then((res) => {
        this.trip = res.data()
        this.isMounted = true
      })
  },
  methods: {
    showForecast (lat, long) {
      this.$axios(
        `${this.apiUrl}?lat=${lat}&lon=${long}&exclude=minutely,hourly&appid=${this.apiKey}&units=metric`
      ).then((response) => {
        this.weatherData = response.data
      })
    },
    signupForTrip () {
      if (this.$auth.currentUser) {
        const subcollectionRef = this.$db.collection('trips').doc(this.$route.params.trip_id).collection('users')
        const userRef = this.$db.collection('users').doc(this.$auth.currentUser.uid).collection('trips')
        subcollectionRef.where('user_id', '==', this.$auth.currentUser.uid).get().then((response) => {
          if (response.empty) {
            subcollectionRef.add({ user_id: this.$auth.currentUser.uid }).then(() => {
              userRef.add({ trip_id: this.$route.params.trip_id }).then(() => {
                this.$q.notify({
                  type: 'positive',
                  message: 'Prijava uspješna.'
                })
              })
            })
          } else {
            this.$q.notify({
              type: 'info',
              message: 'Već ste prijavljeni na izlet.'
            })
          }
        })
      } else {
        this.$router.push('/login')
      }
    },
    formatDate (date) {
      const formatedDate = this.format.replace('YYYY', date.getFullYear())
        .replace('MM', date.getMonth() + 1)
        .replace('DD', date.getDate())
      return formatedDate
    }
  }
}
</script>

<style lang="sass" scoped>
.img
  height: 400px
  width: 800px
.transform
  padding: 10px
</style>
