<template>
  <q-page class="q-pa-lg row justify-center" v-if="isMounted">
    <div
      class="col"
      style="max-width: 1000px"
    >
      <h5>Nadolazeći izleti</h5>
      <div class="row">
        <q-btn
        @click="addNewTrip"
          outline
          color="primary"
          icon="add"
          label="Dodaj novi izlet"
          v-if="currentUserLevel && currentUserLevel !== 1"
        />
        <q-space/>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Pretraživanje" @input="filterByName">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
      </div>
      <br>
      <br>
      <q-list separator bordered v-if="tempTrips.length !== 0">
        <q-item
          v-for="(trip, key) in tempTrips"
          :key="key"
          clickable
          @click="showDetails(trip.id)"
          v-ripple
          style="background: rgba(255, 255, 255, 0.3);"
        >
          <q-item-section class="col" thumbnail>
            <img :src="trip.image">
          </q-item-section>
          <q-item-section>{{ trip.name }}</q-item-section>
          <q-item-section side>
            <div class="row">
              <div class="column justify-center">
                <q-icon name="event" size="18px" class="q-mr-xs"/>
              </div>
              <div class="column">
                <q-item-label class="row justify-end" caption>{{ trip.date }}</q-item-label>
                <q-item-label class="row justify-end" caption><small>{{ trip.time }}</small></q-item-label>
              </div>
            </div>
          </q-item-section>
          <q-item-section side v-if="currentUserLevel && currentUserLevel !== 1">
            <q-btn
              @click.stop="selectTripForUpdate(trip)"
              flat
              round
              dense
              color="primary"
              icon="edit"
            >
            <q-tooltip>
              Izmijeni
            </q-tooltip>
            </q-btn>
          </q-item-section>
          <q-item-section side v-if="currentUserLevel && currentUserLevel !== 1">
            <q-btn
              @click.stop="deleteTrip(trip)"
              flat
              round
              dense
              color="red"
              icon="delete"
            >
            <q-tooltip>
              Izbriši
            </q-tooltip>
            </q-btn>
          </q-item-section>
          <q-item-section side v-if="currentUserLevel && currentUserLevel !== 1">
            <q-btn
              @click.stop="showUsersList(trip.id)"
              flat
              round
              dense
              color="gray"
              icon="playlist_add_check"
            >
            <q-tooltip>
              Lista prijavljenih korisnika
            </q-tooltip>
            </q-btn>
          </q-item-section>
        </q-item>
      </q-list>
      <div v-else>Nema rezultata</div>
      <q-dialog v-model="showTripForm" @hide="tripModel.geoPoint.lat = null, tripModel.geoPoint.lng = null">
        <trip-form :trip="trip" :trips="trips" @close="showTripForm = false, tempTrips = trips"/>
      </q-dialog>
    </div>
      <q-dialog v-model="card" @hide="usersList = []">
       <q-card style="width: 800px;">
          <q-table
            title="Prijavljeni korisnici"
            :data="usersList"
            :columns="columns"
            row-key="id"
            :separator="separator"
          >
          <template v-slot:top-right>
            <q-img
              style="width: 80px"
              src="https://cdn.pixabay.com/photo/2016/11/22/11/48/mountain-1849091_960_720.png"
            />
      </template>
          </q-table>
       </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { date } from 'quasar'
export default {
  data () {
    return {
      filter: '',
      isMounted: false,
      showTripForm: false,
      trips: [],
      trip: null,
      card: false,
      separator: 'vertical',
      tripModel: {
        name: null,
        date: null,
        time: null,
        geoPoint: {
          lat: null,
          lng: null
        },
        description: null,
        image: null,
        level: null
      },
      user: null,
      usersList: [],
      columns: [
        {
          name: 'surname',
          label: 'Prezime',
          align: 'left',
          field: 'surname',
          sortable: true
        },
        {
          name: 'name',
          label: 'Ime',
          align: 'left',
          field: 'name',
          sortable: false
        },
        {
          name: 'email',
          label: 'Email adresa',
          align: 'left',
          field: 'email',
          sortable: false
        },
        {
          name: 'phone',
          label: 'Broj mobitela',
          align: 'left',
          field: 'phone',
          sortable: false
        }
      ],
      currentUserLevel: null,
      tempTrips: []
    }
  },
  mounted: async function () {
    const timestamp = Date.now()
    const formattedString = date.formatDate(timestamp, 'YYYY/MM/DD')
    const tripsRef = this.$db.collection('trips')
    const usersRef = this.$db.collection('users')
    await tripsRef.orderBy('date').startAt(formattedString).get()
      .then(quarySnapshot => {
        this.trips = quarySnapshot.docs.map(doc => { return { id: doc.id, ...doc.data() } })
        if (this.$auth.currentUser) {
          usersRef.doc(this.$auth.currentUser.uid).get('security_level').then(doc => {
            this.currentUserLevel = doc.data().security_level
          })
        }
        this.tempTrips = this.trips
        this.isMounted = true
      })
  },
  methods: {
    addNewTrip () {
      this.trip = this.tripModel
      this.showTripForm = true
    },
    deleteTrip (selectedTrip) {
      this.$q.dialog({
        title: 'Potvrda',
        message: 'Sigurno želite izbrisati izlet?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$db.collection('trips').doc(selectedTrip.id).delete().then(() => {
          const index = this.trips.findIndex(trip => trip.id === selectedTrip.id)
          if (index >= 0) {
            this.trips.splice(index, 1)
            this.tempTrips = this.trips
          }
          if (selectedTrip.image) {
            const storageRef = this.$storage.ref()
            const imageRef = storageRef.child(`${selectedTrip.name}-${selectedTrip.date}`)
            imageRef.delete().then(() => {
            }).catch((error) => {
              console.error('Error deleting image: ', error)
            })
          }
        })
      })
    },
    selectTripForUpdate (selectedTrip) {
      this.trip = selectedTrip
      this.showTripForm = true
    },
    showUsersList (id) {
      const tripUsersRef = this.$db.collection('trips').doc(id).collection('users')
      const usersRef = this.$db.collection('users')
      tripUsersRef.get().then((quarySnapshot) => {
        quarySnapshot.forEach((doc) => {
          usersRef.doc(doc.data().user_id).get('name', 'surname', 'email', 'phone').then((result) => {
            this.user = result.data()
            this.user.id = result.id
            this.usersList.push(this.user)
          })
        })
        this.card = true
      })
    },
    showDetails (id) {
      this.$router.push(`/trip/${id}`)
    },
    filterByName () {
      this.tempTrips = this.trips.filter((item) => {
        return item.name
          .toUpperCase()
          .includes(this.filter.toUpperCase())
      })
    }
  },
  components: {
    'trip-form': require('components/Trips/TripForm.vue').default
  }
}
</script>
