<template>
<q-page>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 400px"
    >
      <q-form @submit="onLogin">
        <q-card>
          <q-card-section>
            <div class="text-h6">
              Prijava
            </div>
          </q-card-section>
          <q-card-section>
            <div class="q-gutter-md">
              <q-input
                filled
                type="email"
                v-model="email"
                label="Email *"
                lazy-rules
                :rules="[ val => emailPattern.test(val) || 'Unos email adrese je obavezan']"
              />
              <q-input
                filled
                type="password"
                v-model="password"
                label="Lozinka *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Unos lozinke je obavezan']"
              />
            </div>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn
              label="Potvrdi"
              type="submit"
              color="primary"
              />
          </q-card-actions>
        </q-card>
      </q-form>
    </div>
  </div>
</q-page>
</template>
<script>
export default {
  name: 'LoginIndex',
  data () {
    return {
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      email: null,
      password: null
    }
  },
  mounted: function () {
    if (this.$auth.currentUser) {
      this.$router.push('/')
    }
  },
  methods: {
    onLogin () {
      this.$auth.signInWithEmailAndPassword(this.email, this.password)
        .then(response => {
          this.$db.collection('users').doc(response.user.uid).get('security_level').then(doc => {
            this.$securityLevel = doc.data().security_level
            this.$router.push('/')
          })
        })
        .catch(error => {
          console.log(error)
          this.$q.notify({
            type: 'negative',
            message: 'Login failed.'
          })
        })
    }
  }
}
</script>
